# Python 虚拟环境
api/
venv/
env/
.venv/

# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# 日志和数据库
*.log
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp

# 系统文件
Thumbs.db
.DS_Store

# 其他
.pytest_cache/
.mypy_cache/